main {
		display: flex;
		flex-direction: column;
	}

@media (min-width: 992px) {

	main {
		flex-direction: row;
	}

	main div, main img {
		width: 50%;
	}

	main img {
		height: 50%;
		align-self:flex-end;
	}
}