html {
  box-sizing: border-box;
  font-family: sans-serif;
  line-height: 1.5;
  scroll-behavior: smooth;
  --white: #ffffff;
  --darkblue: #2c4251;
  --lightblue: #93b7be;
  --offwhite: #f1fffa;
  --brown: #d5c7bc;
  background-color: var(--white);
  color: var(--black);
}

* {
	outline: none;
  box-sizing: border-box;
  margin: 0;
}

.primary {
  background-color: var(--lightblue);
  color: var(--offwhite);
}

.lesson {
  border: 0;
  font-size: 1.3rem;
  color: var(--offwhite);
  background-color: var(--lightblue);
  padding: .75rem 1rem;
  margin: 1rem;
  border-radius: 8px;
  border-bottom: 2px solid rgba(0,0,0,.85);
}

.section {
  background-color: var(--white);
  color: var(--darkblue);
  padding: 7rem;
  border: 6rem solid var(--brown);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 28px;
  text-align: center;
}


.selection {
  background-color: var(--white);
  color: var(--darkblue);
  padding: 7rem;
  border: 6rem solid var(--brown);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 28px;
  text-align: center;
}

.back, .next, .lesson {
  border: 0;
  font-size: 1.3rem;
  color: var(--offwhite);
  background-color: var(--lightblue);
  padding: .75rem 1rem;
  margin: 1rem;
  border-radius: 8px;
  border-bottom: 2px solid rgba(0,0,0,.85);
  font-family: 'Montserrat', sans-serif;
}

.dict {
  background-color: var(--white);
  color: var(--pink);
  padding: 7rem;
  border: 2rem solid var(--brown);
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
}

.word {

}

.mainword {
  color: var(--darkblue);
  font-weight: 700;
}


nav {
  min-height: 4rem;
  text-align: right;
  padding: 1rem 3rem 0;
}

.open #menu {
  display:block;
}

#menu a {
  color: var(--offwhite);
  text-transform: uppercase;
  text-decoration: none;
  padding-top: 1rem;
  display: block;
}

#menu-toggle {
  height: 2rem;
}



a {
  color: var(--offwhite);
}

a:visited {
  color: var(--offwhite)

}

audio {
padding-top: 5rem;
}

nav, h1{
  text-align: center;

}