html {
  box-sizing: border-box;
  font-family: sans-serif;
  line-height: 1.5;
  scroll-behavior: smooth;
  --white: #f7f7f2;
  --yellow: #EFEA5A;
  --green: #16DB93;
  --blue: #048BA8;
  --orange: #F29E4C;
  --pink: #A4036F;
  background-color: var(--white);
  color: var(--black);
}

* {
	outline: none;
  box-sizing: border-box;
  margin: 0;
}

.back, .next, .lesson {
  border: 0;
  font-size: 1.3rem;
  color: var(--white);
  background-color: var(--green);
  padding: .75rem 1rem;
  margin: 1rem;
  border-radius: 8px;
  border-bottom: 2px solid rgba(0,0,0,.85);
  font-family: 'Montserrat', sans-serif;
}

.lesson {
  border: 0;
  font-size: 1.3rem;
  color: var(--white);
  background-color: var(--green);
  padding: .75rem 1rem;
  margin: 1rem;
  border-radius: 8px;
  border-bottom: 2px solid rgba(0,0,0,.85);
}

.section, .selection {
  background-color: var(--yellow);
  color: var(--pink);
  padding: 7rem;
  border: 10rem solid var(--orange);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 28px;
  text-align: center;

}

a {
  color: var(--pink);
}

a:visited {
  color: var(--pink)

}

nav, h1{
  text-align: center;

}